# PAS configuration parameters
export PAS_IIS_SERVER_IP=192.168.2.133
export PAS_ADMIN_NAME=Administrator
export PAS_ADMIN_PASSWORD=Cyberark1
export PAS_SAFE_NAME=CICD_Secrets


# DAP configuration parameters

# Java keystore parameters
export CONJUR_CERT_FILE=../dap-demo-env/k8s-kube/conjur-cache/conjur-dev.pem
export JAVA_KEY_STORE_FILE=./conjur.jks
export JAVA_KEY_STORE_PASSWORD=changeit

# DAP connection URL & account
export CONJUR_APPLIANCE_URL=https://conjur-master:30443
export CONJUR_ACCOUNT=dev

# Human user login w/ password - commented out in java code
export CONJUR_USER=admin
export CONJUR_PASSWORD=Cyberark1

# DAP host authn creds 
export CONJUR_AUTHN_LOGIN=host/carefirst/app
export CONJUR_AUTHN_API_KEY=1ndyvcg3feypb03nhvvka2kvj2efb89q4t172rhs23349f4s3bgkpyv
